.backToTopButton {
  width: 100px;
  float: right;
  background: rgb(0, 177, 153);
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 200, 0.3);
  border: 1px solid black;
  border-radius: 8px;
  transition: all 0.25s ease;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  padding: 3px 10px 3px 10px;
}

.backToTopButton:hover {
  background: rgb(0, 255, 221);
  transform: translateY(-3px) scale(1.04);
  box-shadow: 0 0 18px rgba(0, 255, 200, 0.8);
}
