.footer {
    background-color: rgb(0, 86, 156);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer button {
    background-color: transparent;
    color: white;
    cursor: pointer; 
    border: none;
}