.zodiacMenu {
    width: 13%;
    padding: 0.8rem;
    background-color: rgb(0, 86, 156);
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
}