/* .zodiacMenu {
    width: 13%;
    padding: 0.8rem;
    background-color:rgb(0, 19, 48);
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 0px 20px 20px 20px;
    border: 1px azure solid;
}
 */
