.signUpContainer {
    background-color: rgb(0, 165, 165);
    width: 40%;
    justify-self: center;
    margin: 8rem 0rem 0rem 0rem;
    padding: 2%;
    justify-items: center;
}

.signUpFormContainer {
    /* background-color: rgb(0, 128, 11); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    align-items: center;
}

.signUpFormContainer input, select {
    width: 60%;
    justify-items: center;
    float: inline-end;
}

.signUpFormContainer label {
    float: left;
    width: 100%;
    /* background-color: aqua; */
}

.signUpFormContainer button {
    background-color: aquamarine;
}