.toDoFormContainer {
  background-color: rgba(0, 0, 102, 0.774);
  padding: 10px;
  width: 30%;
  color: azure;
  margin: 4.2rem 0 0 0;
}

#title {
  margin-bottom: 10px;
}

.toDoForm {
  display: flex;
  flex-direction: column;
}

#description {
  margin-bottom: 10px;
}

.toDoForm button {
  width: 10%;
  align-self: center;
}
