body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(167, 167, 167);
}

.navBar {
  background-color: rgb(186, 241, 255);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.navBarButtons {
  background-color: rgb(2, 119, 165);
  border: none;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  width: 125px;
  float: right;
  color: aliceblue;
}

#counter {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

#demoMessage {
  color: rgb(44, 0, 0);
  font-size: 20px;
}

/* #mainLogo {
  width: 200px;
  /* position: absolute; */
  /* left: -10px;
  top: 97px */
/* }